.parent{
    /*list-style-type: disc;*/
   list-style-type: lower-alpha;

}

.child{
    list-style-type: upper-roman;

}


.inline {
    border: 10px solid blue;
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px 2px 3px 5px;
    margin:2px 5px 3px 10px;
    border: 1px solid blue;  
    background-color: yellow; 
}

.block {
    border: 10px solid blue;
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px 2px 3px 5px;
    margin:2px 5px 3px 10px;
    border: 1px solid blue;  
    background-color: yellow; 
}


.inlineblock {
    border: 10px solid blue;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px 2px 3px 5px;
    margin:2px 5px 3px 10px;
    border: 1px solid blue;  
    background-color: yellow; 
}

/*.inlineblock{
    display:none;
}*/

.relative{

    position: relative;
    left: 50px;
    top: 50px;
    width: 400px;
    height: 200px;
    border: 3px solid green;
    margin: 10px 20pz 10px 20px;
}

.absolute{

    position: relative;
    left: 50px;
    top: 50px;
    
    border: 3px solid blue;
    /*padding: 5px 5px 5px 5px;
    margin: 10px 20pz 10px 20px;*/
}

.fixed{

    position: fixed;
    top:0px;
    left:30px;
    border: 3px solid red;
    /*padding: 5px 5px 5px 5px;
    margin: 10px 20pz 10px 20px;*/
}

.overflow{
     background-color: violet;
     width: 200px;
     height: 100px;
     border: 1px dotted black;
     overflow: scroll;
}

.floatleft {
    float: left;
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 3px solid orangered;
  }

  body{

    height:1800px;
  }

  .floatright {
    float: right;
    width: 100px;
    height: 50px;
    margin: 10px;
    border: 3px solid orangered;
  }


  .inline span {
    color:blue;
    /* Decendent Selector*/
}

.inline>span {
    color: violet;
     /* Child Selector*/
}
.inline p >span{
    color: red;
     /* decendent + Child Selector*/
}

.inline +span{
    color: orange;
     /* adjacent sibling selector*/
}


.inline ~span{
    color: purple;
     /* general sibling selector*/
}