.parent{
    /*list-style-type: disc;*/
   list-style-type: lower-alpha;

}

.child{
    list-style-type: upper-roman;

}


.inline {
    border: 10px solid blue;
    display: block;
    width: 100px;
    height: 100px;
    padding: 5px 2px 3px 5px;
    margin:2px 5px 3px 10px;
    border: 1px solid blue;  
    background-color: yellow; 
}

.block {
    border: 10px solid blue;
    display: inline;
    width: 100px;
    height: 100px;
    padding: 5px 2px 3px 5px;
    margin:2px 5px 3px 10px;
    border: 1px solid blue;  
    background-color: yellow; 
}


.inlineblock {
    border: 10px solid blue;
    display: inline-block;
    width: 100px;
    height: 100px;
    padding: 5px 2px 3px 5px;
    margin:2px 5px 3px 10px;
    border: 1px solid blue;  
    background-color: yellow; 
}

/*.inlineblock{
    display:none;
}*/

.relative{

    position: relative;
    left: 50px;
    top: 50px;
    width: 400px;
    height: 200px;
    border: 3px solid green;
    margin: 10px 20pz 10px 20px;
}

.absolute{

    position: relative;
    left: 50px;
    top: 50px;
    
    border: 3px solid blue;
    /*padding: 5px 5px 5px 5px;
    margin: 10px 20pz 10px 20px;*/
}

.fixed{

    position: fixed;
    top:0px;
    left:30px;
    border: 3px solid red;
    /*padding: 5px 5px 5px 5px;
    margin: 10px 20pz 10px 20px;*/
}

.fixed{

    position: relative;
    left: 30px;
    top: 50px;
    border: 3px solid green;
    /*padding: 5px 5px 5px 5px;
    margin: 10px 20pz 10px 20px;*/
}